* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(to bottom, #23C0A1, #105A4B);
    height: 100vh;
    width: 100%;
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(13px);
    
}
.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 50px;
    width: 100px;
    color:white;
    border-radius: 13px;
    border: none;
    text-decoration: none;
    margin-left: 100px;
    margin-right: 100px;
    
}

.spacer {
    height: 50px;
    width: 50px;
}

.settings {
    margin-right: 25px;
    height: 50px;
    width: 50px;
}
.settings > img {
    height: 50px;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
}

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    height: 85vh;
    width: 100%;
    flex-grow: 1;
}

footer{
    width:100%;
    height: 5vh;
    margin-top: 95vh;
    display:flex;
    justify-content: space-between;
}



#nightmode>img{

     
    height: 20px;
    width:20px;
     
}