* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to bottom, #23C0A1, #105A4B);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body.dark-mode {
    background: linear-gradient(to bottom, #105A4B, #052c24);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.dark-mode .navbar {
    background-color: #000000;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    /* color: white; */
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.settings-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.settings-btn:hover {
    background-color: #777;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
    flex-grow: 1;
}

.main-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-gallery img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.footer {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

body.dark-mode .footer {
    background-color: #000000;
}

.footer-text {
    margin-right: 10px;
}

.footer-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: #777;
}
